*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
button{
  display: flex;
  align-items: center;
  border: none;
  padding: 0.7rem 1.5rem;
  background-color: #6a9739;
  color: white;
  transition: background-color 0.2s ease;
  cursor: pointer;
  border-radius: 0.4rem;
}
button:hover{
  background-color: #8bc34a;
}
header{
  width: 100%;
  padding: 1rem 2.5rem;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* nav-left */
.nav-left{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav img{
  width: 9rem;
  margin-right: 2rem;
}
nav ul{
  display: flex;
}
nav ul li a{
  color: rgb(51, 51, 51);
  font-size: 1rem;
  padding: 1rem 1.5rem;
  transition: color 0.2s ease;
}
nav ul li a:hover{
  color: #8bc34a;
}

/* nav-right */
.nav-right{
  display: flex;
  align-items: center;
}
.nav-cart-item, .nav-fav-item{
  margin-left: 2rem;
  color: #8bc34a;
  position: relative;
}
.nav-cart-item-count, .nav-fav-item-count{
  color: black;
  font-weight: bold;
  position: absolute;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  background-color: #8bc34a;
  padding: 0.2rem 0 0 0.4rem;
  top: -0.8rem;
  right: -0.7rem;
  font-size: 0.7rem;
}
.nav-fav-item i{
  font-size: 1.3rem;
}
.nav-account{
  margin-left: 2rem;
  color: #8bc34a;
}
/* hero section */
.hero{
  background-color: rgba(238, 238, 238, 0.3);
  position: relative;
  padding: 6rem 7rem;
}
.hero-transparent{
  position: absolute;
  bottom: 0;
  right: 0;
}
.hero-transparent img{
  height: 20rem;
  width: 30rem;
  opacity: 0.3;
}
.hero-container{
  display: flex;
  justify-content: space-between;
  position: relative;
}
.hero-text{
  padding: 4rem 5rem;
}
.hero-text img{
  margin-bottom: 2rem;
}
.hero-text h3{
  margin-bottom: 2rem;
}
.hero-text h1{
  font-family: "Merriweather", serif;
  font-size: 3.2rem;
  line-height: 4.2rem;
  margin-bottom: 1.5rem;
}
.hero-text p{
  color: rgb(51, 51, 51);
  line-height: 1.7rem;
  margin-bottom: 2.5rem;
}
.hero-text button{
  font-size: 0.9rem;
  font-weight: bold; 
}
.hero-text button span{
  margin-right: 0.7rem;
}

/* feature section */
.feature{
  background-color: rgb(17, 17, 17);
  padding: 1rem;
}
.feature-container{
  padding: 1rem 7rem;
  display: flex;
  justify-content: space-evenly;
}
.feature-box{
  width: 18rem;
  display: flex;
  padding: 2rem 0 2rem 1rem;
  background-color: rgb(51, 51, 51);
  color: white;
  font-size: 1.05rem;
  line-height: 1.7rem;
}
.feature-text{
  margin-left: 1rem;
}
.feature-box span{
  color: #8bc34a;
}

/* product section */
.product-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 8rem;
  padding: 5rem 0;
}
.product-text{
  font-size: 1.5rem;
  padding-top: 2rem;
  margin-bottom: 1.5rem;
}
.product-text h1{
  font-family: "Merriweather", serif;
}
.product-display{
  display: flex;
  padding: 1.5rem 3rem;
}
.product-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1rem; 
}
.product-img{
  margin-bottom: 0.5rem;
  position: relative;
}
.product-img img{
  height: 18rem;
  width: 18rem;
}
.product-description{
  line-height: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.product-category{
  margin: auto;
  color: rgb(51, 51, 51);
  opacity: 0.7;
  font-size: 0.9rem;
}
.product-title{
  margin: auto;
}
.product-title-name{
  font-family: "Merriweather", serif;
  font-weight: bold;
  color: black;
}
.product-review{
  margin: auto;
  color: gold;
}
.product-price{
  margin: auto;
}
.product-price-tag, .product-price-new{
  font-family: "Merriweather", serif;
}
.product-price:has(.product-price-new) .product-price-tag{
  text-decoration: line-through;
  color: rgba(51, 51, 51, 0.683);
}
.product-sale{
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  height: 2.6rem;
  width: 2.6rem;
  padding: 0.7rem 0.6rem 0.6rem 0.3rem;
  border-radius: 50%;
  background-color: #8bc34a;
  font-size: 0.8rem;
}
.product-fav{
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  font-size: 1.3rem;
  color: palevioletred;
}

/* category section */
.category{
  background-color:  #F8F6F3;
}
.category-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.category-overlay{
  position: absolute;
  top: -2.5rem;
}
.category-display{
  display: flex;
  justify-content: space-evenly;
  margin: 7rem;
  padding: 1rem;
}
.category-box{
  background-color: white;
  height: 22rem;
  width: 23rem;
  padding: 2rem 1rem 0 2rem;
  margin-right: 2rem;
  box-shadow: 0 0 10px 0 rgba(40,40,40,.1);
  border-radius: 0.5rem;
  position: relative;
}
.category-box h2{
  font-family: "Merriweather", serif;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.category-box p{
  color: #7e7e7e;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}
.category-box button{
  font-size: 1rem;
  position: relative;
}
.category-box button span{
  margin-left: 1rem;
}
.category-img{
  position: absolute;
  bottom: 0;
  right: 1rem;
  height: 10rem;
}
.category-img img{
  height: 100%;
  width: 100%;
}

/* goto container */
.goTo-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(17, 17, 17);
  color: white;
  padding: 2rem 6rem;
  position: relative;
}
.goTo-text h1{
  font-family: "Merriweather", serif;
  font-size: 1.8rem;
  padding: 2rem;
  margin-left: 2.5rem;
}
.goTo-btn button{
  margin-right: 5rem;
  font-size: 0.9rem;
  font-weight: bold; 
}
.goTo-btn button span{
  margin-right: 0.7rem;
}
.goTo-description{
  padding: 3rem;
  text-align: center;
  position: relative;
}
.goTo-description h1{
  font-family: "Merriweather", serif;
  font-size: 1.5rem;
}
.goTo-pointer{
  height: 1.5rem;
  width: 1.5rem;
  background-color: rgb(17, 17, 17);
  position: absolute;
  top: -1rem;
  left: 50%;
  transform: rotate(45deg);
}

/* trending section */
.trending-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 8rem;
  padding: 5rem 0;
}
.trending-text{
  font-size: 1.5rem;
  padding-top: 2rem;
  margin-bottom: 1.5rem;
}
.trending-text h1{
  font-family: "Merriweather", serif;
}

/* review section */
.review{
  background: linear-gradient(#FEFDFD, #f8f6f3);
  position: relative;
}
.review-transparent{
  position: absolute;
  top: 1rem;
  left: 0;
}
.review-transparent img{
  height: 20rem;
  width: 32rem;
  opacity: 0.2;
  transform: rotate(120deg);
}
.review-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 8rem;
  padding: 3rem 0;
}
.review-title{
  font-size: 1.5rem;
  padding-top: 2rem;
  margin-bottom: 1.5rem;
}
.review-text h1{
  font-family: "Merriweather", serif;
}
.review-display{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  margin: 0 7rem;
  padding-top: 3rem;
  position: relative;
}
.review-box , .review-box-banner{
  background-color: white;
  height: 22rem;
  width: 23rem;
  padding: 0 1.5rem;
  margin-right: 2rem;
  box-shadow: 0 0 10px 0 rgba(40,40,40,.1);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.review-custReview{
  color: gold;
  font-size: 1.7rem;
}
.review-description{
  text-align: center;
  line-height: 1.5rem;
  padding: 0 2rem;
}
.review-description p{
  font-family: "Merriweather", serif;
  color: #4C4C4C;
  font-size: 1rem;
}
.review-profile{
  display: flex;
  align-items: center;
}
.review-profile img{
  margin-right: 1.5rem;
}
.review-box-banner{
  height: 27rem;
  padding: 0;
  position: relative;
  background-color: rgb(51, 51, 51);
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.review-banner-img{
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
  background-image: url("assets/review-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.3;
}
.review-box-banner:hover{

  background-color: #181818;
}
.review-banner-description{
  position: absolute;
  top: 0;
  /* height: 100%;
  width: 100%; */
  padding: 2rem;
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
}
.review-banner h1{
  font-family: "Merriweather", serif;
  font-size: 2.2rem;
  line-height: 2.7rem;
  margin-bottom: 1.5rem;
}
.review-banner p{
  line-height: 1.5rem;
  padding: 0 1rem;
  font-size: 1.2rem;
}
.review-banner-btn{
  display: flex;
  margin: auto;
  padding: 4rem 2rem;
}
.review-banner-btn button{
  font-size: 1rem;
}
.review-banner-btn span{
  margin-left: 0.7rem;
}

/* brand section */
.brand-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 3rem;
}
.brand-text h3{
  font-family: "Merriweather", serif;
  font-size: 1.5rem;
}
.brand-display{
  display: flex;
  justify-content: space-between;
}
.brand-box{
  padding: 0 0.3rem;
}

/* footer section */
footer{
  background-color: #001524;
}
.footer-display{
  margin: 0 8rem 5rem 8rem;
  display: flex;
  padding-top: 3rem;
}
.footer-box-logo{
  padding-top: 1rem;
  max-width: 29rem;
  margin-right: 7rem;
}
.footer-box-logo img{
  width: 11rem;
  margin-bottom: 3rem;
}
.footer-box-logo p{
  color: #A8AFB4;
  font-style: italic;
  font-weight: bold;
}
.footer-box-link{
  flex: 1;
}
.footer-box-link h2, .footer-box-external h2{
  font-family: "Merriweather", serif;
  color: white;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.footer-box-link li, .footer-box-external li{
  line-height: 1.8rem;
}
.footer-box-link ul, .footer-box-external ul{
  margin-bottom: 2rem;
}
.footer-box-link a{
  color: #A8AFB4;
  transition: color 0.2s ease;
}
.footer-box-link a:hover{
  color: white;
}
.footer-box-external{
  flex: 1;
}
.footer-box-external p{
  color: #A8AFB4;
  padding-right: 1.7rem;
  line-height: 1.5rem;
  margin-bottom: 2rem;
}
.footer-box-external a{
  color: #8bc34a;
  transition: color 0.2s ease;
}
.footer-box-external a:hover{
  color: #8bc34acb;
}
.external-image{
  display: flex;
}
.external-image img{
  width: 9rem;
  margin-right: 1rem;
}
.footer-connect{
  border-top: 1px solid #a8afb427;
  display: flex;
  justify-content: space-between;
  padding: 3rem 7rem;
}
.footer-copyright{
  color: #A8AFB4;
  font-size: 1rem;
}
.footer-social{
  color: #A8AFB4;
  padding-left: 2rem;
}
.footer-social i{
  margin-right: 1.5rem;
  cursor: pointer;
}